<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>CRUD {{ resourceName }}</title>
</head>
<body>
<h1>CRUD {{ resourceName }}</h1>
<div class="container">
    <div class="row">
        {% block mp_crud_content %}
        {% endblock %}
    </div>
</div>
</body>
</html>