{% extends  layout %}
{% block mp_crud_content %}
    <h3>Create {{ resourceName|default('resource') }}</h3>
    <div>
        <form method="POST">
            {{ form_widget(form) }}
            <input class='btn' type="submit" value="Create">
            <input class='btn' type="reset" value="Reset">
            <a class="btn" href="{{ path(indexRoute) }}">Cancel</a>
        </form>
    </div>
{% endblock %}