<div class="pagination pagination-centered">
    <ul class="">
        <li>
            <a {% if offset <=0 %} class="disabled muted"{% else %} href="?&offset={{ 0 }}" {% endif %} >first</a>
        </li>

        <li>
            <a {% if offset < 1 %} class="disabled muted"
            {% else %}href="?&offset={{ offset-1 }}"{% endif %}>prev.</a></li>

        <li><a class=" active">{{ offset+1 }}</a></li>

        <li>
            <a {% if total-(limit*(offset+1))<=0 %} class="muted disabled" {% else %} href="?&offset={{ offset+1 }}" {% endif %}>next</a>
        </li>

        <li>
            <a {% if total-(limit*(offset+1))<=0 %} class="disabled muted" {% else %} href="?&offset={{ total/limit }}" {% endif %} >last</a>
        </li>
    </ul>
</div>